<h3>Options:</h3>
<small>affects examples above</small>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="myAlertOptions.container">
    container
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="myAlertOptions.fixedOnTop">
    fixed on top <small>(deselecting this option will display the alerts on top of the page, so you need to scroll up to see them)</small>
  </label>
</div>
<h3>Open alerts:</h3>
<div class="row col-xs-12">
    <button class="btn btn-success col-xs-12 col-md-3" ng-click="addSuccess()">success</button>
    <button class="btn btn-info col-xs-12 col-md-3 col-md-offset-1" ng-click="addInfo()">info</button>
    <button class="btn btn-danger col-xs-12 col-md-3 col-md-offset-1" ng-click="addError()">error</button>
</div>