<!DOCTYPE html>
<html>
<head>
    <title>angular-sAlert example</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../dist/alert.css">
</head>
<body ng-app="myApp">
     <!-- Navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">angular-sAlert</a>
            </div>
        </div>
    </nav>

    <!-- Main View -->
    <div class="container main-container">
        <alertbox></alertbox>
        <div ng-controller="mainCtrl">
            <h3>simple alerts</h3>
            <button class="btn btn-success" ng-click="addSuccess()">success alert</button>
            <button class="btn btn-info" ng-click="addInfo()">info alert</button>
            <button class="btn btn-danger" ng-click="addError()">error alert</button>

            <h3>auto removing alerts</h3>
            <button class="btn btn-success" ng-click="addSuccessAndAutoRemove()">success alert</button>
            <button class="btn btn-info" ng-click="addInfoAndAutoRemove()">info alert</button>
            <button class="btn btn-danger" ng-click="addErrorAndAutoRemove()">error alert</button>

            <h3>removing alerts on promise finish</h3>
            <button class="btn btn-primary" ng-click="resolvePromise()">resolve promise</button>
            <br/> <br/>
            <button class="btn btn-success" ng-click="addSuccessAndRemoveOnPromise()">success alert</button>
            <button class="btn btn-info" ng-click="addInfoAndRemoveOnPromise()">info alert</button>
            <button class="btn btn-danger" ng-click="addErrorAndRemoveOnPromise()">error alert</button>
        </div>
    </div>

    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="../dist/alert.js"></script>
</body>
</html>