<script type="text/javascript" src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/angular-sAlert/dist/sAlert.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/angular-smoothscroll/dist/scripts/bb15da28.scripts.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/app.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/simpleAlerts.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/autoRemoveAlerts.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/promiseAlerts.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/configuration.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/instances.js"></script>