.sAlert {
    @import "../bower_components/bootstrap/less/variables.less";
    @import "../bower_components/bootstrap/less/alerts.less";
    @import "../bower_components/bootstrap/less/mixins/alerts.less";
    @import "../bower_components/bootstrap/less/close.less";
    @import "../bower_components/bootstrap/less/mixins/opacity.less";

    font-family: @font-family-sans-serif;
    font-size: @font-size-base;
    line-height: @line-height-base;

    .close {
        border: 0;
        background: none;
        padding-top: 0;
        font-family: inherit;
    }

    .alertbox {
        margin-top: 55px;
    }

    .alert {
        padding: 3px;
        margin-bottom: 5px;
        text-align: center;
    } 
}

